<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoAlpha.AI News</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="css/fonts.googleapis.Montserrat.css" rel="stylesheet" type="text/css">
    <link href="css/fonts.googleapis.Droid.css" rel="stylesheet" type="text/css">
    <link href="css/fonts.googleapis.Kaushan.css" rel="stylesheet" type="text/css">
    <link href="css/fonts.googleapis.Roboto.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="static-navbar navbar-expand-lg navbar-dark " id="static-mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="index.html"><img class="nav-logo" src="img/logos/nav-logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse static-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">We are <div class="caret"></div></a>
                        <ul>
                            <li><a href="https://docsend.com/view/2f2uixc" target="_blank">White paper</a></li>
                            <hr>
                            <li><a href="team.html#">Team</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger">
                          {{menu[1]['disp']}}
                          <div class="caret"></div>
                        </a>
                        <ul>
                            <li v-for="(sub, sub_idx) in menu[1].subs">
                                <a v-bind:href="sub['url']">{{sub['name']}}</a>
                                <hr v-if="sub_idx < menu[1].subs.length - 1" />
                            </li>
                        </ul>

                    </li>
                    <li id="nav-item-announcements" class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Announcements<div class="caret"></div></a>
                        <ul>
                            <li><a href="roadmap.html">Roadmap</a></li>
                            <hr>
                            <li><a href="newslist.html">News</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-bg"><img src="img/page-bg.jpg">
        <div class="page-title">
            <h2>CoAlpha News</h2>
        </div>
    </div>

    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a class="news-image-link" data-toggle="modal" href="#portfolioModal1">
                        <img class="news-img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="news-article">
                        <p>Collaboration as a means to create with others has always been a part of my practice. As a dancer, I have always worked in a collaborative context where teams work together and support one another.Collaboration as a means to create
                            with others has always been a part of my practice. As a dancer, I have always worked in a collaborative context where teams work together and support one another.Collaboration as a means to create with others has always been
                            a part of my practice. As a dancer, I have always worked in a collaborative context where teams work together and support one another.Collaboration as a means to create with others has always been a part of my practice. As
                            a dancer, I have always worked in a collaborative context where teams work together and support one another.Collaboration as a means to create with others has always been a part of my practice. As a dancer, I have always worked
                            in a collaborative context where teams work together and support one another.Collaboration as a means to create with others has always been a part of my practice. As a dancer, I have always worked in a collaborative context
                            where teams work together and support one another.Collaboration as a means to create with others has always been a part of my practice. As a dancer, I have always worked in a collaborative context where teams work together
                            and support one another.Collaboration as a means to create with others has always been a part of my practice. As a dancer, I have always worked in a collaborative context where teams work together and support one another.Collaboration
                            as a means to create with others has always been a part of my practice. As a dancer, I have always worked in a collaborative context where teams work together and support one another.Collaboration as a means to create with
                            others has always been a part of my practice. As a dancer, I have always worked in a collaborative context where teams work together and support one another.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="newslist-footer">
        <div class="container">
            <div class="footer-copyright">
                <p>Copyright © 2018 CoAlpha.AI</p>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/jquery-latest.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/data.js"></script>

</body>

</html>